body{
    background-color: #23b499 ;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    text-align:center;
}
header{
    flex-wrap: wrap;
    text-align: center;
    font-size: 48px;
    color:black;
    font-family: "Times New Roman", Times, serif;
}

#Shooter{
    font-size: 26px;
    flex-wrap: wrap;
    text-align: center;
    color:black;
    font-family: "Times New Roman", Times, serif;
}

.column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #Picturs{
    font-size: 26px;
    flex-wrap: wrap;
    text-align: center;
    color:black;
    font-family: "Times New Roman", Times, serif;
}

#factors{
    font-size: 26px;
    flex-wrap: wrap;
    text-align: center;
    color:black;
    font-family: "Times New Roman", Times, serif;
}

#predicter{
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 28px;
    font-weight: 600;
    margin: 0 15px;
    transition: 0.4s;
    border: 3px solid #5c6664;
    color: #FFF;
    background-color:  #5c6664;
    box-shadow: inset 0 -8px 0 0 rgba(0,0,0,0.2);
    transition: 0.1s;
    text-shadow: 0 -8px 0 0 rgba(0,0,0,0.2);
}
#predicter:hover{
    color:  #5c6664;
    background-color: #FFF;
}

.sel{
    font-size: 20px;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #5c6664;
    background-image: none;
    border-radius: .25em;
    cursor: pointer;
}


